body {
    background-color: #444444;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#000), to(#333)); 
    background-image: -webkit-linear-gradient(left top, #000, #333);
    background-image: -moz-linear-gradient(left top, #000, #333);
    overflow: hidden;
}

#info {
    position: absolute;
    z-index: 10;
    left: 25px;
    top: 25px;
}

#defs {
    height: 0;
    width:0;
}

.frame {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #6CCC00;
    stroke: #fff;
    stroke-width: .5px;
}

.globe {
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}

.star {
    fill: #fff;
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}
